     body {
          font-family: Arial, sans-serif;
          margin: 20px;
          padding: 0;
      }
      
      div{
          width: 1430px;
          height: 160px;
          border: 2px solid black;
          padding: 20px;
      }
      
      .Top-section a {
          color: #007bff;
          text-decoration: none;
      }
      
      .Image_section {
          margin: 20px;  
          text-decoration: underline;
          text-align: left;
         
      }
      
      .Image_section img {
          width: 838px;
          height: 500px;
          border-radius: 8px;
      }
      
      .Trivia-section {
            margin: 20px;
            text-align: left;
      }
      
      .Trivia-section ol {
          padding: 20px;
      }
      
      .Trivia-section li {
          margin-bottom: 10px;
      }
      
      .Trivia-section strong {
          font-weight: bold;
      }
      
      .read-more{
        text-align: left;
        color: black;
      }
      .more-images {
          text-align: left;
          line-height: 50px;
          padding: 4px 16px;
          color: black;
          text-decoration: underline;
          border-radius: 4px;
          transition: background-color 0.3s;
      }
      
      .read-more:hover,
      .more-images:hover {
          background-color: #0056b3;
      }
      
    